<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Phoenix, React, Relay, GraphQL, Channel Boilerplate">
    <meta name="author" content="harmon25">

    <title>Reactpxbp Login</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">



    <style type="text/css">
    body {
        background-color: #DADADA;
      }
      body > .ui.grid {
        height: 100%;
      }
      .image {
        margin-top: -100px;
      }
      .column {
        max-width: 450px;
      }
  </style>

  </head>

  <body>
        <%= render @view_module, @view_template, assigns %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.js"></script>
    
    <script type="text/javascript">

      // login stuff here
      $("#loginForm").form({inline: true,fields:{
        email: 'empty',
        password: 'empty'
      } })


    </script>
  </body>
</html>